.map-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  .left-menu,
  .right-menu {
    flex: 0 0 200px;
    padding: 4rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .left-menu {
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .right-menu {
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .map-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  
  .map-button:hover {
    background-color: #0056b3;
  }
  
  .leaflet-container{
    background: #1E1C18;
  }

  