.menu {
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .map-button,
  .map-variant-button {
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .map-button:hover,
  .map-variant-button:hover {
    background-color: #0056b3;
  }

  h3 {
    margin: 10px 0;
    font-size: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  